<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"></head>
<!-- DataTables -->
<script type="text/javascript" src="" th:src="@{/js/jquery.dataTables.min.js}"></script>
<link rel="stylesheet" type="text/css" media="all" href="" th:href="@{/css/jquery.dataTables.min.css}" />
<body>
  
<div class="navbar navbar-fixed-top" th:include="navbar :: navbar"></div>

 <div class="subnavbar" th:include="navbar:: subnavbar-cassandra"></div>

<div id="wrapper" class="container" >
 <div class="row">
  <div class="span9"> 
   <div id="content" class="clearfix" >
    <div class="main-inner" style="margin-top:60px">
     <div class="container">
     <div th:include="messages :: messagebar"></div>
    
      <div class="row">
        <div class="span2">
          <div class="span10">
  
  <script type="text/javascript">
    $(document).ready(function(){
        $('#resultTable').DataTable();
    });
 </script>
 
  <div style="width:100%;overflow:auto">
  
   <table id="resultTable" name="resultTable" 
   		  class="table table-striped table-bordered" 
   		  style="margin-top:10px">
     <thead>
      <tr>
        <th><span th:text="Id">Id</span></th>
        <th><span th:text="OrbitClass">"Orbit Class"</span></th>
        <th><span th:text="Designation">"Designation"</span></th>
        <th><span th:text="DiscoveryDate">Discovery Date</span></th>
        <th><span th:text="H_mag">H Mag</span></th>
        <th><span th:text="I_deg">I_deg</span></th>
        <th><span th:text="Moid_au">moid_au</span></th>
        <th><span th:text="period_yr">Period_yr</span></th>
        <th style="width:20px">D&nbsp;</th>
      </tr>
    </thead>
    
    <tbody th:if="${cbean != null}">
     <tr th:each="currentLine : ${cbean.neolist}">
     <td>
	 	<span th:text="${currentLine.documentId.get()}">VALUE</span></td>
	 <td>
	 	<span th:text="${currentLine.data.orbitClass}">VALUE</span>
	 </td>
	 <td>
	 	<span th:text="${currentLine.data.designation}">VALUE</span>
	 </td>
	 <td><span th:text="${currentLine.data.discoveryDate}">VALUE</span></td>
	 <td><span th:text="${currentLine.data.h_mag}">VALUE</span></td>
	 <td><span th:text="${currentLine.data.i_deg}">VALUE</span></td>
	 <td><span th:text="${currentLine.data.moid_au}">VALUE</span></td>
	 <td><span th:text="${currentLine.data.period_yr}">VALUE</span></td>
	  <td>
	  <a data-toggle="modal" href="#modalDeleteNeo" 
         th:attr="data-id=${currentLine.documentId.get()}"
         style="width:6px:margin-left:-3px;color:white;background-color:#ab0000" 
         class="open-DeleteFlipDialog btn">
        <i class="icon-trash"></i>
       </a>
	  </td>
	  </tr>
	</tbody>
    </table>
  </div>
   </div> 
  </div><!-- ROW -->
          
	 </div>
	</div>
   </div>
  </div>
 </div>
</div>

<div th:include="modals :: modal-coming"></div>

<div th:include="modals :: modal-deleteNeo"></div>
   
</body>
</html>
