<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="navbar">
 <div class="navbar-inner" style="background-image: url('../img/banner.jpg');">
  <div class="container">
   <a class="brand" href="/" style="">
    <img src="" th:src="@{/img/stargate.png}" height="45px" style="height:45px"/>
    &nbsp; &nbsp; &nbsp;
    Workshop Spring Stargate and SDK
   </a>
        
   <div class="nav-collapse"  style="margin-top:15px;float:right">
   	 <li>Keyspace=<span style="color:#0890D0" th:text="${namespace}"></span></li>
   </div>
  </div>
 </div>
</div>

<div th:fragment="subnavbar">
 <div class="subnavbar-inner">
  <div class="container">
   <ul class="mainnav">
    
    <li class="active2">
     <a href="/" >
      <i class="icon-asterisk"></i>
       <span th:text="#{navbar.main.home}" >STARGATE</span>
     </a>
    </li>
    <li>
          <a data-toggle="modal" href="#modalAbout">
           <i class="icon-info"></i> 
           <span th:text="#{navbar.main.about}" >About</span>
           </a>
        </li>
         <li>
        <img src="" th:src="@{/img/dhd.png}" height="45px" style="height:45px;margin-left:10px"/>
        <embed src="sounds/teaser.mp3" loop="true" autostart="true" width="2"
         height="0">
    </li>
      </ul>
    </div>
  </div>
</div>

<div th:fragment="subnavbar-cassandra">
 <div class="subnavbar-inner">
  <div class="container">
   <ul class="mainnav">
    
    <li >
     <a href="/" >
      <i class="icon-star"></i>
       <span th:text="#{navbar.main.home}" >Home</span>
     </a>
    </li>
    <li class="active2">
     <a href="" th:href="@{neo}" >
      <i class="icon-list-alt"></i> 
      <span th:text="#{navbar.main.nearearth}" >Earth</span>
     </a>
    </li>
      </ul>
    </div>
  </div>
</div>


</body>
</html>